$text-color: #474747;
$text-color-hover: #7b7b7b;
$text-color-white: #fff;
$color-yellow: #FFF2D4;
$color-pink: #FFDFF7;

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inria Sans', sans-serif;
    color: $text-color;
}

.header {
    color: $text-color;
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 1rem;

    p {
        flex-direction: row;
        transition: transform 0.2s ease;

        &:hover {
            cursor: pointer;
            // color: $text-color-hover;
            transform: scale(1.1);
        }
    }
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 4rem 0;
    height: 60vh;
    position: relative;
    overflow: hidden;
    // margin-bottom: 4rem;

    .home-text {
        flex: 1;
        position: relative;
        z-index: 2;
        max-width: 50%;
        padding: 20px;

        h1,
        p,
        .read-more-button {
            position: relative;
            z-index: 3;
        }

        .vector-pink {
            position: absolute;
            top: -50%;
            left: -24%;
            max-width: none;
            z-index: 1;
            width: 75%;
            pointer-events: none;
            transition: transform 1s ease-out, opacity 1s ease-out;
            transform: translateX(-100%);
        }

        .vector-pink.animate-in {
            transform: translateX(0);
        }
    }

    .profile-photo {
        flex: 1;
        max-width: 400px;
        height: auto;
        border-radius: 50%;
    }
}

.read-more-button {
    transition: all 0.3s ease;
    border: 1px solid $text-color;
    padding: 10px 20px;
    margin-top: 2rem;
    cursor: pointer;
    color: $text-color;
    font-size: 0.8rem;
    transition: all 0.3s ease;

    &:hover {
        background-color: $text-color;
        color: $text-color-white;
    }
}

.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6rem 2rem;
    // height: 60vh;
    z-index: 1;
    // max-width: 50%;
    // flex: 1;
    background-color: $color-yellow;

    .about-text {
        // flex: 2;
        position: relative;
        max-width: 700px;
        z-index: 3;

        p {
            position: relative;
            z-index: 3;
            font-size: 1rem;
            line-height: 1;
            margin-bottom: 15px;
        }
    }

    .vector-yellow {
        position: absolute;
        top: 110%;
        right: 0%;
        transform: translate(100%, -50%);
        z-index: 1;
        width: 30%;
        pointer-events: none;
        transition: transform 1s ease-out, opacity 1s ease-out;
    }

    .vector-yellow.animate-in {
        transform: translate(0%, -50%);
    }
}

.projects {
    padding: 6rem 2rem;
    text-align: center;

    &-heading {
        margin-bottom: 2rem;

        // h2 {
        //   font-size: 2.5rem;
        //   font-weight: bold;
        //   span {
        //     color: #b0b4c4;
        //     margin-right: 0.5rem;
        //   }
        // }
        p {
            margin-top: 0.5rem;
            font-size: 1rem;

            a {
                color: $text-color;
                text-decoration: none;
                font-weight: bold;

                &:hover {
                    text-decoration: underline;
                    color: $text-color-hover;
                }
            }
        }
    }

    &-grid {
        display: flex;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
    }

    &-item {
        position: relative;
        width: 250px;
        height: 250px;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
            display: block;
            filter: brightness(70%);
        }

        &::after {
            content: "";
            display: block;
            padding-top: 56.25%; // 16:9 aspect ratio
        }

        .projects-label {
            position: absolute;
            bottom: 1rem;
            left: 1rem;
            color: white;
            font-weight: bold;
            font-size: 1rem;
        }
    }
}

.experience {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    // height: 60vh;
    z-index: 1;
    // max-width: 50%;
    // flex: 1;
    background-color: $color-pink;

    .experience-text {
        position: relative;
        // max-width: 700px;
        z-index: 3;

        p {
            position: relative;
            z-index: 3;
            line-height: 1.7;
        }

        h2 {
            position: relative;
            z-index: 3;
            margin: 1.5rem 0;
        }
    }

    .vector-pink {
        position: absolute;
        top: 250%;
        right: 0;
        transform: translate(100%, -50%);
        z-index: 1;
        width: 30%;
        pointer-events: none;
        transition: transform 1s ease-out, opacity 1s ease-out;
    }

    .vector-pink.animate-in {
        transform: translate(0%, -50%);
    }
}

.education {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6rem 2rem;

    .education-text {
        p {
            font-size: 1rem;
            line-height: 1;
            margin-bottom: 30px;
            font-weight: bold;

        }
    }
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-yellow;
    min-height: 100vh;
    padding: 2rem;

    .contact-form {
        background: #fff;
        padding: 2.5rem;
        border-radius: 12px;
        // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 600px;

        h2 {
            text-align: center;
            font-size: 2rem;
            margin-bottom: 0.5rem;
        }

        p {
            text-align: center;
            margin-bottom: 1rem;
            font-size: 1rem;
            color: $text-color;
        }

        .form-row {
            display: flex;
            gap: 1rem;
            margin-bottom: 1rem;

            .form-group {
                flex: 1;
                display: flex;
                flex-direction: column;

                label {
                    margin-bottom: 0.25rem;
                    font-size: 0.9rem;
                }
            }
        }

        .form-group input,
        .form-group textarea {
            border: none;
            border-bottom: 1px solid $text-color;
            padding: 0.5rem;
            font-size: 1rem;
            background: transparent;
            resize: none;
            font-family: inherit;
        }

        .form-group input:focus,
        .form-group textarea:focus {
            outline: none;
            border-bottom-color: $text-color;
        }

        .form-group {
            margin-bottom: 1rem;
        }

        .form-group .phone-input,
        .form-group textarea {
            display: flex;
            align-items: center;

        }

        .form-group textarea,
        .phone-input input {
            width: 100%;
        }

        button {
            width: 100%;
            padding: 0.75rem;
            background: transparent;
            border: 1px solid $text-color;
            font-size: 1rem;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                background: $text-color;
                color: $text-color-white;
            }
        }
    }
}

.contact .contact-form .form-group input[type='tel'] {
    border-radius: 0;
    margin-left: 2rem;
    width: 89%;
}
.contact .contact-form .form-group textarea{
    width: 97%;
    height: 25px;
}

.react-tel-input .flag-dropdown,
.react-tel-input .flag-dropdown.open,
.react-tel-input .flag-dropdown {
    border-radius: 50%;
}

footer {
    background-color: $color-pink;
    padding: 0.7rem;
    display: flex;
    justify-content: space-around;

    .linkedin-mail-icon,
    .email-icon,
    .github-icon {
        display: inline-block;

        img {
            width: 40px;
            height: 40px;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }


    .logo {
        width: 35px;
    }
}

//@media (max-width: 768px) {
// .home {
//     flex-direction: column;
//     text-align: center;
//   }

//   .home-text, .profile-photo {
//     max-width: 100%;
//   }

//   .profile-photo {
//     margin-top: 20px;
//   }
// }